variables:
    image_name: sunieldevarapu/python-demo-app
    image_tag: app-2.0

run_tests:
    image: python:3.9-slim-buster
    before_script:
        - apt-get update && apt-get install make
    script: 
        - make test

build_image:
    image: docker:20.10.16
    services:
        - docker:20.10.16-dind
    variables:
        DOCKER_TLS_CERTDIR: "/certs"
    before_script:
        - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
    script:
        - docker build -t $image_name:$image_tag .
        - docker push $image_name:$image_tag
        
