variables:
    image_name: sunieldevarapu/python-demo-app
    image_tag: app-2.0

stages:
    - test
    - build

run_tests:
    stage: test
    image: python:3.9-slim-buster
    before_script:
        - apt-get update && apt-get install make
    script: 
        - make test

build_image:
    stage: build
    image: docker:20.10.16
    services:
        - docker:20.10.16-dind
    variables:
        DOCKER_TLS_CERTDIR: "/certs"
    before_script:
        - echo $REGISTRY_PASS | docker login -u $REGISTRY_USER --password-stdin 
    script:
        - docker build -t $image_name:$image_tag .
        - docker push $image_name:$image_tag
        
