variables:
  IMAGE_NAME: sunieldevarapu/python-demo-app
  IMAGE_TAG: app-2.0

stages:
  - test
  - build
  

run_tests:
  stage: test
  image: python:3.9-slim-buster
  before_script:
    - apt-get update && apt-get install make
  script:
    - make test


build_image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
    - docker build -t sunieldevarapu/python-demo-app .
    - docker push $IMAGE_NAME:$IMAGE_TAG

